
@font-face {
    font-family: comic;
    src: url('../fonts/Comic_Neue/ComicNeue-Regular.ttf');
}

@font-face {
    font-family: mukta;
    src: url('../fonts/Mukta/Mukta-Regular.ttf');
}
@font-face {
    font-family: oswald;
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
}
@font-face {
    font-family: sou;
    src: url('../fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf');
}
@font-face {
    font-family: ub;
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}